Task_1/*.vcxproj.filters
Task_1/*.vcxproj.user
Task_1/.vs
Task_1/build
Task_1/out.txt
Task_1/x64
Task_1/x32
Task_2/*.vcxproj.filters
Task_2/*.vcxproj.user
Task_2/.vs
Task_2/build
Task_2/out.txt
Task_2/x64
Task_2/x32
Task_3/*.vcxproj.filters
Task_3/*.vcxproj.user
Task_3/.vs
Task_3/build
Task_3/out.txt
Task_3/x64
Task_3/x32
Task_1/Task_1
Task_2/Task_2
compile_flags.txt